/* Sources:
 *  https://medium.freecodecamp.org/how-to-center-things-with-style-in-css-dc87b7542689
    https://www.quora.com/I-want-to-put-two-divs-in-HTML-in-the-same-line-but-one-always-comes-under-the-other-one-What-should-I-do
    https://stackoverflow.com/questions/4151743/how-i-change-the-thickness-of-my-hr-tag
    https://stackoverflow.com/questions/2580772/how-do-i-get-a-new-line-after-using-floatleft
 */

html {
    background-color: #061733;
}

div#content {
    width: 720px;
    margin: 0 auto;
}

div#header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;

}

div#nav_bar {
    width: 100%;
    padding: 10px;
    height: auto;
    display:inline-block;
}

div.nav_item {
    width: 33.333%;
    height: 100%;
    text-align: center;
    float: left;
    line-height: 1.2em;
}


div.nav_item a {
    text-align: center;
    text-decoration:  none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
}


div#title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: #fff;
    padding: 0;
    width: 120%;
    margin-left: -10%;
}

img {
    max-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

div.section_header
{
    text-decoration: underline;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #fff;
    margin-top: 20px;
}

div.name {
    font-family: "Lato", sans-serif;
    float: left;
    font-size: 15px;
    color: white;
    padding-top: 5px;
    width: 50%;
}

div.date
{
    font-family: "Lato", sans-serif;
    float: right;
    font-size: 15px;
    color: white;
    padding: 5px;
}

div.info
{
    font-family: "Lato", sans-serif;
    font-size: 13px;
    color: white;
    padding: 5px;  
    float: left;
}

br {
    clear: both;
}

div.skills
{
    width: 100%;
}

div#courses
{
    width: 100%;
}

ul {
    margin: 0;
}