/* Sources:
 * https://medium.freecodecamp.org/how-to-center-things-with-style-in-css-dc87b7542689
    https://www.quora.com/I-want-to-put-two-divs-in-HTML-in-the-same-line-but-one-always-comes-under-the-other-one-What-should-I-do
    https://stackoverflow.com/questions/4151743/how-i-change-the-thickness-of-my-hr-tag
 */

html {
    background-color: #061733;
}

div#content {
    width: 720px;
    margin: 0 auto;
}

div#header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5em;

}

div#nav_bar {
    width: 100%;
    padding: 10px;
    height: auto;
    display:inline-block;
}

div.nav_item {
    width: 33.333%;
    height: 100%;
    text-align: center;
    float: left;
    line-height: 1.2em;
}


div.nav_item a {
    text-align: center;
    text-decoration:  none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
}


div#title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
}

hr {
    border: none;
    height: 1px;
    background-color: #fff;
    padding: 0;
    width: 120%;
    margin-left: -10%;
}

img {
    max-width: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}